:root {
  --background:  var(--color10);
  --text: #EDEDED;
  --color1: #00193A;
  --color2: #002B53;
  --color3: #023F73;
  --color4: #034780;
  --color5: #7A0213;
  --color6: #A10220;
  --color7: #BF0A26;
  --color8: #CD0C2B;
  --color9: #131313;
  --color10: #262626;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background: var(--background);
}

#__next{
  display: flex;
  flex-direction: row;
}