.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.main {
  min-height: 100vh;
  width: calc(100% - 170px);
  display: flex;
  flex-direction: column;
  position: relative; 
  top: 0;
  left: 170px;
  padding: 0 10px ;
}

.skills{
  min-height: 100vh;
}