/* Project component */
.projectsContainer{
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.projectsDescription {
    font-size: 19px;
    margin: 20px 0;
}

.projectsCardsContainer{
    display: flex;
    flex-direction: column;
}

.projectCardsSquares{
    margin: 65px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
/* Cards component */

.projectCardSingleContainer{
    display: flex;
    background-color: var(--background);
    transition: background 0.4s, border-radius 0.4s;
    overflow: hidden;
}

.projectCardSingleLeftSide{
    width: 100%;    
    filter: grayscale(100%) blur(2px);
    transition: filter 0.5s;
}

.projectCardSingleRightSide{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projectCardSingleRightSide h3 {
    font-size: 17px;
    margin-bottom: 1em;
}

.projectCardSingleRightSide p {
    font-size: 15px;
    flex-grow: 2;
}

.projectCardSingleBtnContainer {
    display: flex;
    justify-content: space-evenly;
}

.projectCardSingleBtnContainer .btn{
    font-size: 15px;
    width: 120px;
    height: 38px;
    filter: grayscale(100%);
    transition: background 0.3s;
    border-radius: 6px;
}

.projectCardSingleBtnContainer .btn:hover {
    background-color: brown;
}

.projectCardSingleBtnContainer .btn:active{
    background-color: var(--color5);
}

.projectCardSingleContainer:hover .projectCardSingleLeftSide,
.projectCardSingleContainer:hover .projectCardSingleBtnContainer a{
        filter: grayscale(0%);
}

/* Square cards*/

.projectCardSingleContainer.square{
    width: 360px;
    height: 360px;
    flex-direction: column;
}

.projectCardSingleContainer.square:hover{
    border-radius: 6px;
}

.square .projectCardSingleLeftSide{
    height: 50%;
}

.square .projectCardSingleRightSide{
    justify-content: space-evenly;
    background-color: rgb(0,0,0,0.8);
    padding: 10px;
    width: 100%;
    height: 50%;
    position: relative;
    filter: opacity(0);
    transition: filter 0.6s 0.1s;
}

.projectCardSingleContainer.square:hover .projectCardSingleRightSide{
    filter: opacity(1);
}

/* Full cards */

.projectCardSingleContainer.full {
    width: 800px;
    height: 320px;
    margin: 40px 0;
    flex-direction: row;
}

.projectCardSingleContainer.full:hover {
    background-color: var(--color2);
    border-radius: 6px;
}

.full .projectCardSingleLeftSide{
    width: 50%;
    filter: grayscale(100%) blur(2px);
    transition: filter 0.5s;
}

.full .projectCardSingleRightSide{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 15px;
}